@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --red: #d01c28;
    --gray: rgba(0, 0, 0, 0.71);
    --titleblue: rgba(0, 58, 170, 1);
    --iblue: rgba(38, 80, 127, 1);
    --tailcolor: rgba(24, 96, 148, 0.98);
}


*{
    margin: 0;
}

.container {
    max-width: device-width;
    margin-top: 0 auto;
    gap: 300px;
    font-family: "Montserrat", sans-serif;
}

.logo {
  height: 72px;
  width: 44px;
  margin-top: 25px;
  margin-left: 50px;
}

nav {
    display: flex;
    height: 72px;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 45px;
}

.body {
  display: flex;
  height: calc(100vh - 72px - 180px);
  gap: 195px;
  width: auto;
  background: linear-gradient( rgba(176, 218, 248, 0.81), #ffffff);
  
}

.text {
  margin-left: 100px;
  margin-top: 180px;
}

.title {
  font-family: "Monoton", sans-serif;
  font-size: 46px;
  font-weight: 400;
  color: var(--titleblue);
}

.i-name {
  font-family: "Brawler", serif;
  color: var(--iblue);
  font-size: 24px;
}

.description {
  margin-top: 25px;
  max-width: 465px;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
}

.building-image {
  margin-top: 120px;
  margin-right: 100px;
}

.building-image p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: rgba(38, 80, 127, 1);
}

.tail {
  background-color: var(--tailcolor);
  width: auto;
  height: 180px;
}

.tailcomponents {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.78);
}

.about {
  margin-top: 2%;
  margin-left: 3%;
  line-height: 1.7;
  max-width: 400px;
}

.links {
  margin-top: 2%;
  line-height: 1.5;
  max-width: 140px;
  list-style: none;
}

.contact {
  margin-top: 2%;
  margin-right: 3%;
  line-height: 1.5;
  max-width: 400px;
}

